.vino__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 550px;
    background-color: #050f22;
    padding: 10px 10px 0;
    margin-bottom: 24px;
    
    border: 2px solid #2e3d5c;
    border-radius: 12px;
}
.vino__detail img {
    width: 85%;
    border-radius: 5px;
    margin-top: 10px;
}
.contador {
    display: flex;
    align-items: baseline;
    gap: 8px;
}
.buttons__contador, .button__agregar {
    padding: 6px 10px;
    border: none;
    border-radius: 8px;
    background-color: #131822;
    color: #E2EDFC;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    transition: 150ms;
}
.button__agregar {
    padding: 14px 8px;
    font-size: 16px;
    margin: 10px 0;
}
.buttons__contador:hover, .button__agregar:hover {
    background-color: #161e2c;
}