.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}
.nav__links {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}
.nav__links a {
    color: rgb(226, 237, 252);
    font-size: 22px;
}
.nav__title {
    text-align: center;
    margin: 40px 0 0;
}